/* p{
    text-align: right;
    text-align: left;
    text-align: center;
} */
/* h1{  */
    /* text-align:right;
    text-align:left;
    text-align:center; */

    /* text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration:black dotted underline; */







/* } */

/* a {
    text-align:left;
    text-decoration:none;
    
}  */

/* 
#h1 {
    font-weight: 100
}

#h2 {
    font-weight:250
}
#h3 {
    font-weight:600
}
#h4 {
    font-weight:900
}

#one {
    font-family: arial;
}
/* #two {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} */
/* #two {
    font-family:cursive
/* } */ 



#one {
    font-size:25px;
    line-height:normal;
    text-transform:capitalize ;
}

#three {
    font-size: 10px;
}



























